[user]
    name = Michał Chmurkowski
    email = 4909359+mchmurkowski@users.noreply.github.com
[core]
    excludesfile = ~/.gitignore_global
    editor = "emacsclient --no-window-system --alternate-editor=''"
    autocrlf = input
[push]
    autoSetupRemote = true
[init]
    defaultBranch = main
