root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

[*.py]
indent_style = space
indent_size = 4

[*.lua]
indent_style = space
indent_size = 2

[*.fnl]
indent_style = space
indent_size = 2

[*.{scss,js,css,html}]
indent_style = space
indent_size = 2

[*.{c,h}]
indent_style = tab

[Makefile]
indent_style = tab

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
